{% extends "layout/basic.html"%}

{% block content %}
{% for bb in bbs%}
<div class="b">
    <h2><a href="{% url 'detail' pk=bb.pk %}">{{ bb.title }}</a>
        <a href="{% url 'edit' pk=bb.pk %}">Редактировать</a>
        <a href="{% url 'delete' pk=bb.pk %}">Удалить</a>
    </h2>
    <p>{{ bb.content }}</p>
    <p><a href="{% url 'by_rubric' bb.rubric.pk %}">{{ bb.rubric.name }}</a></p>
    <p>
        {% for d in date_list %}
        {{ d.year }}
        {% endfor %}
    </p>
</div>
{% endfor %}
{% endblock %}
